.contenedor-imagen {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  height: 50vh;

  @media screen and (max-width: 1024px) {
    height: 30vh;
  }
}

.tallas {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
  margin: 1rem 0;
}
