<div class="row align-items-center justify-content-center mt-3">
  <div class="col-lg-6 col-md-6 col-sm-12 my-2">
    <div class="contenedor-imagen">
      <img
        src="{{ 'assets/images/' + producto?.imagen }}"
        alt="{{ producto?.nombre }}"
        height="100%"
      />
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 my-2">
    <div class="card">
      <div class="card-body">
        <h2>{{ producto?.nombre }}</h2>
        <p>{{ producto?.descripcion }}</p>
        <p>
          Precio: {{ producto?.precio | currency : "MXN" : "symbol-narrow" }}
        </p>
        <div class="tallas">
          <button type="button" class="btn btn-sm btn-outline-secondary">
            S
          </button>
          <button type="button" class="btn btn-sm btn-outline-secondary">
            M
          </button>
          <button type="button" class="btn btn-sm btn-outline-secondary">
            L
          </button>
        </div>
        <button type="button" class="btn btn-primary me-1">
          Agregar al carrito
        </button>
        <button type="button" class="btn btn-secondary">Comprar ahora</button>
      </div>
    </div>
  </div>
</div>
