<div class="row">
  <div class="col-12">
    <div class="banner text-center">
      <h1>Bienvenido a la Aplicación C&A</h1>
      <p>Explora nuestras categorías de productos</p>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="assets/images/S29_REBAJAS_BANNER_MUJER-DESK.webp"
          class="d-block w-100"
          alt="Rebajas"
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/S29_SPECIAL_BANNER_MUJER-DESK.webp"
          class="d-block w-100"
          alt="Especial"
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/S29_SPECIAL_BANNER_KIDS-DESK.webp"
          class="d-block w-100"
          alt="Niños"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <h3>Productos</h3>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <div class="productos">
      <div class="producto" *ngFor="let producto of productos">
        <div class="card">
          <i class="fa-solid fa-heart corazon"></i>
          <img
            class="card-img-top"
            src="{{ 'assets/images/' + producto.imagen }}"
            alt="{{ producto.nombre }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ producto.nombre }}</h5>
            <p class="card-text">
              {{ producto.precio | currency : "MXN" : "symbol-narrow" }}
            </p>
            <button type="button" class="btn btn-primary">
              Ver más <i class="fa-solid fa-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
